@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


$clr-grey-1: #1E1E1E;
$clr-grey-2: #D9D9D9;

$clr-green-1: #23611D;
$clr-green-2: #058E3F;
$clr-green-3: #086100;
$clr-green-4: #163f13;

$custom-font-1: 'Gudea', sans-serif;
$custom-font-2: 'Work Sans', sans-serif;
$custom-font-3: 'Gugi', cursive;
$custom-font-4: 'Poppins', sans-serif;