@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');


$clr-grey-1: #1E1E1E;

$clr-green-1: #23611D;
$clr-green-2: #058E3F;
$clr-green-3: #086100;

$custom-font-1: 'Gudea', sans-serif;
$custom-font-2: 'Work Sans', sans-serif;