.socials {
  display: flex;
  width: 70vw;
  max-width: 500px;
  justify-content: space-evenly;

  a {
    .logo {
      display: flex;
      align-items: center;
    }
    
    &:nth-of-type(1){
      .logo{
        margin: 5px;
        width: 30px;
        height: 30px;
      }
    }
    &:nth-of-type(2){
      .logo{
        width: 40px;
        height: 40px;
      }
    }
  }
}
